<mat-card>
  <mat-form-field >
    <mat-card-title>Write here...</mat-card-title>
    <mat-label>Input data</mat-label>

    <textarea rows="5"   [(ngModel)]="enteredValue">
      </textarea>
      <div class="button5">
        <button (click)="clearInput()" mat-fab color="primary" aria-label="To delete the Content of Input Area">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
  </mat-form-field>

</mat-card>


<mat-card>
  <mat-form-field  appearance="fill">

    <div class="button1">

    <button (click)="paraLength()" mat-raised-button color="primary">Length</button>
  </div>
  <div class="button2">
    <button (click)="paraWords()" mat-raised-button color="primary">Word Count</button>
  </div>

  <div class="button3">
    <button (click)="UPPERCASE()" mat-raised-button color="primary">Convert to UPPERCASE</button>
  </div>
  <div class="button4">
    <button (click)="lowerCase()" mat-raised-button color="primary">Convert to Lowercase</button>
  </div>



        <textarea  disabled>{{lengthOfInput||upperCaseString || lowerCaseString ||numOfWords}}</textarea>

  </mat-form-field>
</mat-card>

