mat-card {
  font-family: "Georgia, 'Times New Roman', Times, serif";
  width: 65%;
  margin: auto;
  margin-top: 50px;
  background-color: rgb(231, 227, 221);
}

.inputDesign {
  background-color: whitesmoke;
  width: 730px;
  height: 65px;
}

.button1,
.button2,
.button3,
.button4,
.button5,
.button6 {
  display: inline-flex;
  padding: 10px;
}

.output {
  display: inline-flex;
  padding-left: 0.2cm;
  padding-right: 0.5cm;
}

.ouputClass {
  width: 1200px;
}
mat-form-field,
textarea {
  width: 100%;
  height: auto;
  font-size: medium;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.border {
  background-color: aqua;
}
